<!DOCTYPE HTML>

<html lang="en">

<head>
    <meta charSet="UTF-8" />

    <title><%= htmlWebpackPlugin.options.title %></title>

    <meta property="og:type" content="website" />
    <meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>" />
    <meta property="og:description" content="<%= htmlWebpackPlugin.options.description %>" />
    <meta property="og:image" content="https://abc6xyz.github.io/circular-slot-machine/screenshots/slotjs.png" />
    <meta property="og:image:width" content="1920" />
    <meta property="og:image:height" content="971" />
    <meta property="og:image:alt" content="<%= htmlWebpackPlugin.options.title %>" />
    <meta property="og:url" content="https://abc6xyz.github.io/circular-slot-machine/" />

    <meta name="twitter:title" content="<%= htmlWebpackPlugin.options.title %>" />
    <meta name="twitter:description" content="<%= htmlWebpackPlugin.options.description %>" />
    <meta name="twitter:card" content="summary_large_image" />

    <meta name="title" content="<%= htmlWebpackPlugin.options.title %>" />
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>" />
    <meta name="author" content="Dani Gámez Franco" />
    <meta name="keywords" content="slot machine, game, gambling, frontend, experiment" />
    <meta name="screen-orientation" content="portrait" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">

    <link rel="canonical" href="https://abc6xyz.github.io/circular-slot-machine/" />


    <!-- PWA -->

    <meta name="theme-color" content="white" />
    <!-- <link rel="manifest" href="manifest.json" /> -->

    <!-- ANALYTICS & SITE VERIFICATION -->

    <meta name="google-site-verification" content="6Xa2p_VrmGSIQeZNe8Qd3qnNgE3hIlH2wIhjX0DQYJ4" />
    <!-- <meta name="msvalidate.01" content="..." /> -->
    <script defer data-domain="abc6xyz.github.io/circular-slot-machine" src="https://plausible.io/js/plausible.js"></script>


    <!-- FONTS -->

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous" />
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" as="style" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" media="print" onload="this.media='all'" />


    <!-- JSON-LD -->

    <!-- <script type="application/ld+json"></script> -->

</head>

<body class="app__base">

    <%- include ../header/header.template.ejs %>

    <main class="app__main" id="main">
        <section class="sm__base">
            <!-- <div class="sm__display sm__display--background"></div> -->
            <div class="sm__reelsContainer"></div>
            <div class="sm__display"></div>
        </section>
    </main>

    <div class="app__coverLeft"></div>
    <div class="app__coverRight"></div>

    <section class="modal__root" id="instructionsModal">
        <h2 class="modal__title instructions__title">
            <span class="modal__titleIcon instructions__titleIcon">🕹️</span>Instructions
            <button class="modal__button" aria-label="Close Instructions Popup and Resume Game">
                <span class="modal__buttonIcon">×</span>
            </button>
        </h2>

        <%- include ../instructions/instructions.template.ejs %>
    </section>

    <section class="modal__root" id="payTableModal">
        <h2 class="modal__title pt__title">
            <span class="modal__titleIcon pt__titleIcon">🏆</span>Pay Table
            <button class="modal__button" aria-label="Close Pay Table Popup and Resume Game">
                <span class="modal__buttonIcon">×</span>
            </button>
        </h2>

        <%- include ../pay-table/pay-table.template.ejs %>
    </section>

    <%- include ../footer/footer.template.ejs %>

</body>
</html>
